{% extends 'base.html' %}

{% block content %}

<main role="main" class="container">
    <div class="row">
      <div class="col-md-8 blog-main">
        <h3 class="pb-4 mb-4 font-italic border-bottom">
          From my mind ;D
        </h3>
        {% for blog in blogs %}
        <div class="blog-post">
          <h2 class="blog-post-title">{{ blog.title }}</h2>
          <p class="blog-post-meta">{{ blog.publicated_data }}<a href="#">{{ blog.author }}</a></p>
          {{ blog.body }}
        </div><!-- /.blog-post -->
        <br>
        {% endfor %}
      </div><!-- /.blog-main -->
    </div>

</main>

{% endblock%}