{% extends 'base.html' %}

{% block content %}

  {% include 'welcome.html' %}

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        {% for job in jobs %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src="{{ job.image.url }}"/>
            <div class="card-body">
              <p class="card-text">{{ job.summary }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}